<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hicorp.segment.mapper.MaintenanceMonthlyMonitoringSystemMapper">
    <select id="countNumber" resultType="java.lang.Integer">
        select count(*) from maintenance_monthly_monitoring_system where is_approve = #{status, jdbcType=VARCHAR}
    </select>
    <select id="countTodayNumber" resultType="java.lang.Integer">
        select count(*) from maintenance_monthly_monitoring_system where date_day = #{date, jdbcType=DATE}
    </select>
    <select id="countIsHaveNumber" resultType="java.lang.Integer">
        SELECT count(*)  FROM maintenance_monthly_monitoring_system WHERE DATE_FORMAT(date_day, '%Y%m') = DATE_FORMAT(CURDATE(), '%Y%m')
    </select>
</mapper>