<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hicorp.segment.mapper.UserInfoMapper">
    <resultMap id="InfoAndUserId" type="com.hicorp.segment.pojo.UserInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="staff_number" jdbcType="VARCHAR" property="staffNumber"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <collection property="userId" column="staff_number" select="findUserIdByStaffNumber" ofType="long"/>
    </resultMap>
    <select id="findUserIdByStaffNumber" resultType="java.lang.Long">
        select id
        from user
        where user_name = #{staffNumber,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="InfoAndUserId">
        select *
        from user_info
    </select>
    <select id="findByStaffNumber" resultType="com.hicorp.segment.pojo.UserInfo">
        select *
        from user_info
        where staff_number = #{staffNumber,jdbcType=VARCHAR}
    </select>
</mapper>